.signIn__background {
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.signIn__text {
    padding-bottom: 20px;
}

.sign__content {
    padding: 0px 10px;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1px;
    margin-top: 10px;
}

.form-input p {
    font-size: 13px;
    color: white;
}
@media screen and (max-width:765px) {
    .form-input p{
        font-size: 12px;
    }
}