.photo{
    margin-top: 50px;
}
.photoBackgroundColor{
    background-color: var(--primary-color);
}
.photo__content{
    width: 90%;
    margin: auto;
}
.photo__text{
    text-align: center;
}
.photo__text h2{
    color: white;
    padding: 20px 0px;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: italic;
}
.photo__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.photo__grid img{
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:765px) {
    .photo__content{
        width: 95%;
    }
    .photo__grid{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .photo__text h2{
        font-size: 30px;
    }
}