.news__content{
    width: 85%;
    margin: auto;
}
.news__text{
    margin-left: 20px;
}
.news__text h2{
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.news__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.news__grid h2{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 14px;
}
.news__grid p{
    line-height: 30px;
}
.news__content button{
   margin-top: 20px;
    padding: 10px 35px;
}
@media screen and (max-width:765px) {
    .news__grid{
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
    }
}